/* TX-02 — Regular */
@font-face {
  font-family: "TX-02";
  src: url("./fonts/TX-02-normal-400-100.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* TX-02 — Medium */
@font-face {
  font-family: "TX-02";
  src: url("./fonts/TX-02-normal-500-100.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* TX-02 — Bold */
@font-face {
  font-family: "TX-02";
  src: url("./fonts/TX-02-normal-700-100.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "TX-02", sans-serif;
}

img {
  display: block;
  width: 95.75px;
  height: 23.78px;
  background-color: transparent;
}

.nav-bar {
  height: 52px;
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.nav-links li {
  flex: 1;
  display: flex;
}

.nav-links a {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  width: 100%;
  text-align: center;
}

.nav-links li a:hover {
  color: gray;
}

a {
  text-decoration: none;
  color: inherit;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-self: end;
}

.sign-in,
.download {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 99999999px;
  font-weight: 400;
  line-height: 1;
}

.sign-in {
  width: 66.58px;
  height: 27.47px;
  background-color: transparent;
  border: 1px solid oklab(93.065% -0.00048 0.00534 / 0.2);
  color: rgb(247, 247, 244);
}

.download {
  width: 87.18px;
  height: 26.96px;
  padding: 5.6px 10.5px;
  background-color: white;
  color: black;
}
