/* TX-02 — Regular */
@font-face {
  font-family: "TX-02";
  src: url("./fonts/TX-02-normal-400-100.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* TX-02 — Medium */
@font-face {
  font-family: "TX-02";
  src: url("./fonts/TX-02-normal-500-100.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* TX-02 — Bold */
@font-face {
  font-family: "TX-02";
  src: url("./fonts/TX-02-normal-700-100.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "TX-02", sans-serif;
}

img {
  display: block;
  width: 95.75px;
  height: 23.78px;
  background-color: transparent;
}

.nav-bar {
  height: 52px;
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.nav-links li {
  flex: 1;
  display: flex;
}

.nav-links a {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  width: 100%;
  text-align: center;
}

.nav-links li a:hover {
  color: gray;
}

a {
  text-decoration: none;
  color: inherit;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-self: end;
}

.sign-in,
.download {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 99999999px;
  font-weight: 400;
  line-height: 1;
}

.sign-in {
  width: 66.58px;
  height: 27.47px;
  background-color: transparent;
  border: 1px solid oklab(93.065% -0.00048 0.00534 / 0.2);
  color: rgb(247, 247, 244);
}

.download {
  width: 87.18px;
  height: 26.96px;
  padding: 5.6px 10.5px;
  background-color: white;
  color: black;
}

/* Main Section */
.top-section {
  width: 1300px;
  height: 974.11px;
  margin-top: 112px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-bottom: 67.19px;
}

.image-container {
  width: 100%;
  min-height: fit-content;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  line-height: 32.5px;
  font-size: 24.8px;
  font-weight: 400;
  margin-bottom: 23.89px;
}
.intro-section {
  width: 658.31px;
  height: 138.11px;
  margin-bottom: 56px;
}

.intro-section a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 201px;
  height: 43px;
  padding: 12px 21px;
  background-color: rgb(237, 236, 236);
  border: 1px solid rgb(237, 236, 236);
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(20, 18, 11);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.brand-section {
  height: 143.39px;
  width: 1300px;
  display: flex;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.logo-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.logo-card {
  width: 148.5px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 25, 19);
  border-radius: 4px;
  padding: 0 7.5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(237, 236, 236, 0.1);
}

.logo-card img {
  height: 40px;
}

/* Feature One */
.feature-one,
.feature-three {
  width: 1300px;
  height: 711.891px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  background-color: rgb(27, 25, 19);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(237, 236, 236, 0.1);
  border-radius: 4px;
}

.left-feat h3,
.r-2 h3 {
  display: block;
  color: rgb(237, 236, 236);
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 28.6px;
  letter-spacing: -0.11px;
  background-color: rgb(27, 25, 19);
}

.left-feat p,
.r-2 p {
  display: block;
  color: oklab(0.94 0.001 0.0003 / 0.6);
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 28.6px;
  letter-spacing: -0.11px;
  background-color: rgb(27, 25, 19);
}

.left-feat a,
.r-2 a {
  width: 100%;
  height: 19px;
  background-color: transparent;
  color: rgb(245, 78, 0); /* The Orange Color */
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
}

.left-feat {
  width: 382.5px;
  height: 153.3px;
  margin-left: 20px;
  margin-right: 39.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

.right-feat div {
  width: 840px;
  height: 676.891px;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 4px;
}

.right-feat div img,
.l-2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Feature Two */

.feature-two {
  width: 1300px;
  height: 815px;
  margin-top: 89.59px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 89.6px;
  background-color: rgb(27, 25, 19);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(237, 236, 236, 0.1);
  border-radius: 4px;
}

.l-2 {
  width: 840px;
  height: 780px;
}

.r-2 {
  width: 382.5px;
  height: 153.3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

/* Feature Three */

.feature-three {
  margin-bottom: 67.18px;
}
/* Testimonials */

.testimonial-title h2 {
  color: rgb(237, 236, 236);
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  letter-spacing: -0.72px;
  text-align: center;
  margin-top: 134.37px;
}

.testimonial-section {
  width: 1300px;
  height: 566.34px;
  margin-top: 56.19px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.testimonial-grid {
  display: grid;
  grid-template-rows: repeat(2, 240.18px);
  grid-template-columns: repeat(3, 426.66px);
  gap: 10px;
}

.testimonial-card {
  /* THE BASE CARD STYLES */
  background-color: rgb(27, 25, 19);
  border: 1px solid rgba(237, 236, 236, 0.1);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 15.9px 17.5px 17.5px 17.5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-text {
  background-color: transparent;
  color: rgb(237, 236, 236);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
  display: flow-root;
  overflow: hidden;
  text-wrap: wrap;
  letter-spacing: 0.08px;
  font-weight: 400;
}

.testimonial-author {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}

.author-info {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.author-name {
  background-color: transparent;
  color: rgb(237, 236, 236);
  font-size: 14px;
  line-height: 21px;
}

.author-title {
  color: oklab(0.94 0.001 0.0003 / 0.6);
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;
}

.author-img {
  width: 40px;
  height: 40px;
  border-radius: 15%;
  object-fit: cover;
}

/* New Section */

.enterprise-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  width: 1300px;
  height: 566.34px;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  margin-bottom: 111.98px;
}

.enterprise-card {
  width: 100%;
  height: 100%;
  padding: 17.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(27, 25, 19);
  border: 1px solid rgba(237, 236, 236, 0.1);
  border-radius: 4px;
  color: rgb(237, 236, 236);
}

.card-text-content {
  background-color: transparent;
}

.card-text-content h3 {
  color: rgb(237, 236, 236);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: transparent;
}

.card-text-content p {
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-wrap: wrap;
  letter-spacing: 0.08px;
  background-color: transparent;
}

.cta-link {
  display: block;
  padding-top: 14.933px;
  margin-top: auto;
  line-height: 24px;
  letter-spacing: 0.08px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(245, 78, 0);
  text-decoration: none;
  background-color: transparent;
}

.card-image-wrapper {
  width: 391.66px;
  height: 391.66px;
}

.card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.frontier h3 {
  display: block;
  color: rgb(237, 236, 236);
  display: block;
  font-size: 26px;
  font-weight: 400;
  line-height: 32.5px;
  letter-spacing: -0.325px;
  text-align: left;
  margin-bottom: 22.4px;
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  margin-top: 179.17px;
}

/* Log Section */
.log-container {
  width: 1300px;
  height: 222.23px;
  color: #edecec;
  margin: 0 auto;
}

.log-container h2 {
  font-size: 26px;
  display: block;
  font-weight: 400;
  line-height: 32.5px;
  letter-spacing: -0.325px;
  text-align: left;
  margin-bottom: 22.4px;
}

.log-box-container {
  display: flex;
  gap: 10px;
}

.log-box-container a {
  padding: 15.9px 17.5px 20px 17.5px;
  background-color: rgb(27, 25, 19);
  color: rgb(237, 236, 236);
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
}

.log-box-container .label {
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
  background-color: transparent;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 14px;
  padding-bottom: 4.06px;
  padding-left: 9.1px;
  padding-right: 9.1px;
  padding-top: 3.92px;
  border: 1px solid oklab(0.943853 0.00107113 0.000336707 / 0.6);
  border-radius: 9999px;
  display: inline-block;
  margin-right: 12.79px;
}

.log-box-container time {
  display: block;
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
  background-color: transparent;
  font-size: 16px;
  letter-spacing: 0.08px;
  line-height: 24px;
}

.version {
  display: flex;
  background-color: transparent;
}

.log-box-container p {
  margin-top: 14.6px;
  background-color: transparent;
  width: 282.5px;
  height: auto;
}

.button-text {
  display: inline-flex;
  font-size: 16px;
  margin-top: 22.4px;
  line-height: 24px;
  color: rgb(245, 78, 0);
  text-decoration: solid;
}

.careers {
  margin-top: 134.38px;
  width: 1300px;
  height: 507.75px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(27, 25, 19);
  border-radius: 4px;
  column-gap: 10px;
  padding: 17.5px;
  color: #edecec;
  display: flex;
}

.left-flank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  height: 472.75px;
  line-height: 24px;
  padding-left: 2.5px;
  padding-right: 30px;
  padding-top: 0px;
  width: 415px;
  background-color: transparent;
}

.left-flank h2 {
  display: block;
  color: rgb(237, 236, 236);
  font-size: 22px;
  letter-spacing: -0.11px;
  line-height: 28.6px;
  font-weight: 400;
  background-color: transparent;
}

.left-flank a {
  color: rgb(245, 78, 0);
  background-color: transparent;
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 22.4px;
  text-decoration: none;
}

.right-flank {
  min-width: 840px;
  height: 472.75px;
}

.right-flank img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .highlights {
  margin-top: 134.38px;
  color: #edecec;
  width: 1920px;
  height: 661.92px;
  background-color: #1b1913;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
/* } */
/* 
.posts {
  margin-top: 89.59px;
  height: 368.34px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-card {
  width: 650px;
  height: 146.78px;
  background-color: #201e18;
} */

.highlights {
  margin-top: 134.38px;
  background-color: #1b1913;
  padding: 6rem 0;
  color: #eaeaea;
  height: 661.92px;
}

.highlights .container {
  width: 1300px;
  margin: 0 auto;
  background-color: transparent;
}

.highlights .layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 4rem;
  align-items: start;
  background-color: transparent;
}

.highlights .section-title {
  font-size: 16px;
  font-weight: 400;
  color: rgb(237, 236, 236);
  background-color: transparent;
}

.highlights .posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: transparent;
  width: 650px;
}

.highlights .post-card {
  background-color: #26241e;
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: 6px;
  padding: 13.4px 15px 15px 15px;
  height: 100%;
}

.highlights .post-card h3 {
  font-weight: 400;
  font-size: 16px;
  color: rgb(237, 236, 236);
  background-color: transparent;
  letter-spacing: 0.08px;
  line-height: 24px;
}

.highlights .post-card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
  margin-bottom: 1.25rem;
  background-color: transparent;
}

.highlights .meta {
  font-size: 16px;
  color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
  background-color: transparent;
}

.highlights .view-more {
  margin-top: 22.4px;
  color: #ff6a00;
  text-decoration: none;
  font-size: 16px;
  width: fit-content;
  margin-bottom: 89.49px;
  background-color: transparent;
}

.highlights .view-more:hover {
  text-decoration: underline;
}

.highlights .post-card:hover {
  background-color: #2c2923;
}

.download-section {
  width: 100%;
  height: 421.08px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(237, 236, 236);
}

.ds-container {
  width: 810.23px;
  height: 152.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ds-container h2 {
  color: rgb(237, 236, 236);
  display: block;
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 22.4px;
  line-height: 79.2px;
  text-align: center;
}

.ds-container a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 201px;
  height: 43px;
  padding: 12px 21px;
  background-color: rgb(237, 236, 236);
  border: 1px solid rgb(237, 236, 236);
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(20, 18, 11);
  font-family: inherit;
  font-size: 16px;
}
