/* TX-02 — Regular */
@font-face {
  font-family: "TX-02";
  src: url("./fonts/TX-02-normal-400-100.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* TX-02 — Medium */
@font-face {
  font-family: "TX-02";
  src: url("./fonts/TX-02-normal-500-100.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* TX-02 — Bold */
@font-face {
  font-family: "TX-02";
  src: url("./fonts/TX-02-normal-700-100.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "TX-02", sans-serif;
}

img {
  display: block;
  width: 95.75px;
  height: 23.78px;
  background-color: transparent;
}

.nav-bar {
  height: 52px;
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.nav-links li {
  flex: 1;
  display: flex;
}

.nav-links a {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  width: 100%;
  text-align: center;
}

.nav-links li a:hover {
  color: gray;
}

a {
  text-decoration: none;
  color: inherit;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-self: end;
}

.sign-in,
.download {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  border-radius: 99999999px;
  font-weight: 400;
  line-height: 1;
}

.sign-in {
  width: 66.58px;
  height: 27.47px;
  background-color: transparent;
  border: 1px solid oklab(93.065% -0.00048 0.00534 / 0.2);
  color: rgb(247, 247, 244);
}

.download {
  width: 87.18px;
  height: 26.96px;
  padding: 5.6px 10.5px;
  background-color: white;
  color: black;
}

/* Main Section */
.top-section {
  width: 1300px;
  height: 974.11px;
  margin-top: 112px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-bottom: 67.19px;
}

.image-container {
  width: 100%;
  min-height: fit-content;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  line-height: 32.5px;
  font-size: 24.8px;
  font-weight: 400;
  margin-bottom: 23.89px;
}
.intro-section {
  width: 658.31px;
  height: 138.11px;
  margin-bottom: 56px;
}

.intro-section a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 201px;
  height: 43px;
  padding: 12px 21px;
  background-color: rgb(237, 236, 236);
  border: 1px solid rgb(237, 236, 236);
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(20, 18, 11);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.brand-section {
  height: 143.39px;
  width: 1300px;
  display: flex;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.logo-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.logo-card {
  width: 148.5px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 25, 19);
  border-radius: 4px;
  padding: 0 7.5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(237, 236, 236, 0.1);
}

.logo-card img {
  height: 40px;
}

/* Feature One */
.feature-one {
  width: 1300px;
  height: 711.891px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  background-color: rgb(27, 25, 19);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(237, 236, 236, 0.1);
  border-radius: 4px;
}

.left-feat h3 {
  display: block;
  color: rgb(237, 236, 236);
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 28.6px;
  letter-spacing: -0.11px;
  background-color: rgb(27, 25, 19);
}

.left-feat p {
  display: block;
  color: oklab(0.94 0.001 0.0003 / 0.6);
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  line-height: 28.6px;
  letter-spacing: -0.11px;
  background-color: rgb(27, 25, 19);
}

.left-feat a {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  width: 151.7px;
  height: 19px;
  background-color: transparent;
  color: rgb(245, 78, 0); /* The Orange Color */
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
}

.left-feat {
  width: 382.5px;
  height: 153.3px;
  margin-left: 20px;
  margin-right: 39.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

.right-feat div {
  width: 840px;
  height: 676.891px;
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 4px;
}

.right-feat div img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
